<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Find Order Summary</h1>

    <form method="GET" action="#" th:action="@{order/total/{order_id}(order_id=${orderId})}">

        <table>
            <tr>
                <td>Order ID:</td>
                <td> <input type="text" name="orderId">
                </td>
            </tr>
            <tr>
                <td></td>
                <td> <button type="submit">Show Summary</button> </td>
            </tr>
        </table>

    </form>


</body>

</html>